{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PORTFOLIO</title>

    <link rel="stylesheet" type="text/css" href="{% static 'index/css/style.css' %}">

    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;0,600;0,800;0,900;1,200;1,400;1,500;1,600;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
</head>

<body>

    <div class="frame">

        <nav class="navigator">
            <h3 class="site-name">YunSeo</h3>
            <ul>
                <li><a class="nav-menu" href="{% url 'index' %}">PROJECT</a></li>
                <li><a class="nav-menu" href="{% url 'info' %}">INFO</a></li>
            </ul>
        </nav>


        <div class="dashboard">
            <h1 class="korean-comment"> <a class="sample">박윤서</a> <br>
                <a class="highlight type1">임베디드에 관심이 많고 </a>또한 <a class="highlight type2"></a> 더 나아가 <a
                    class="highlight type3"><br>임베디드 개발자</a>가 되고 싶습니다.
            </h1>

            <p class="english-comment">
                I like to collaborate and I value communication. <br>Also, think positively about everything!!
            </p>

        </div>

        <h5 class="recent-menu">RECENT PROJECTS</h5>

        <div class="recent-works">
            <div class="article" id="arti1">
                <img class="thumbnail" id="thumb1" src="{%static 'index/image/Winform.png'%}">
                <div class="article-info">
                    <h3 class="article-name" id="name1">성남지역화폐 가맹점</h3>
                    <p class="article-comment">2021년 IT 관련쪽 형, 누나들과 같이 성남지역화폐 가맹점 찾는 
                        프로젝트를 수행했다. Winform을 이용하여 디자인을 하였다.
                        결제방법, 원하는 품목 등을 설정하면 그에 맞는 가게명과 전화번호, 위치를 지도에 나타내준다.
                    </p>
                    <a class="more" href="https://github.com/KOSTA-Project/Mini-Project1_WinForm" target="_blank">Github링크
                        ></a>
                </div>
            </div>

            <div class="article" id="arti2">
                <div class="article-info">
                    <h3 class="article-name" id="name2-1">자율주행 자동차</h3>
                    <h3 class="article-name" id="name2-2">ROS, Web</h3>
                    <p class="article-comment" id="comment2">2021년 성남지역화폐 가맹점 프로젝트를 같이 하였던
                        팀원들과 함께 자율주행 자동차를 만들어 보았다. 직접 자동차 부품을 사고 조립하여 만들었고
                        ROS를 이용하여 작은 반경에서는 지정한 위치를 찍으면 가장가까운 경로로 이동하게 만들었다.
                        웹사이트를 만들어 우리가 마스터가 되고 고객을 관리할 수 있도록 만들었다.
                    </p>
                    <a class="more" href="https://github.com/KOSTA-Project/Mapping_ROS">Github링크 ></a>
                </div>
                <img class="thumbnail" id="thumb2" src="{%static 'index/image/car.png' %}">
            </div>


        </div>




        <footer class="footer">
            <h3 class="contact">CONTACT ME</h3>
            <div class="links">
                <a class="instagram" href="https://www.instagram.com/yun__se0/">INSTAGRAM</a>
            </div>
            <p>Feel free to contact me!</p>
        </footer>


    </div>


</body>

</html>